*{
     padding: 0;
     margin: 0;
}
.btn {
  position: absolute;
  right: 40px;
  top: 35px;
}
.productos{
  margin: 15px;
  padding: 2px 16px;
  float: left;
  overflow: hidden;
}
.productos img {
  width: 250px;
}

h1{
  text-align: center;
  background-color: black;
  color: #cf8ab6;
  padding: 20px;

}
h2{
  text-align: center;
  background-color: #cf8ab6;
}
h3{
  background-color: antiquewhite;
  text-align: center;
}
.button{
  text-align: right;
}
nav ul{
  background-color: #faaade;
  width: 100%;
  list-style-type: none;
  text-align: center;
}
nav li {
  display: inline-flex;
}
nav a{
  text-decoration: #423d40;
  color: white;
  padding: 10px;
  width: 150px;
}
nav li:hover {
  background-color: #7d1958;
